<% wrap_layout :layout do %>
  <div class="container-fluid">
    <div class='row'>
      <div class="col-md-9" id="content">
        <div class="panel panel-default">
          <div class="panel-body post-content">
            <h1><%= current_page.data.title %></h1>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
