<% wrap_layout :layout do %>
  <div class="wrapper">
    <!-- https://www.pexels.com/photo/camera-old-vintage-photos-35107/ -->
    <div class="landing-header" style="background-image: url('<%= ENV['CDN_URL'] %>/images/schema/landing.jpg');">
      <div class="container">
        <div class="motto">
          <h1><%= current_page.data.title %></h1>
          <p>Released <%= Date.parse(current_page.data.date.to_s).strftime("%-d %b %Y") %></p>
        </div>
      </div>
    </div>

    <div class="section section-white">
      <div class="row row-section">
        <div class="container-fluid">
          <div class="col-md-8 col-md-offset-2">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
