<% wrap_layout :layout do %>
  <div class="wrapper">
    <!-- https://www.pexels.com/photo/camera-old-vintage-photos-35107/ -->
    <div class="landing-header" id="tsparticles" style="margin-top: 0px;">
      <div class="container">
        <div class="motto">
          <h1><%= current_page.data.title %></h1>
          <% if current_page.data.deprecated? %>
            <p>Deprecated</p>
          <% end %>
          <p>Released <%= Date.parse(current_page.data.date.to_s).strftime("%-d %b %Y") %></p>
          <% if current_page.data.date_deprecation? %>
            <p>Deprecation: <%= Date.parse(current_page.data.date_deprecation.to_s).strftime("%-d %b %Y") %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="section section-white">
      <div class="row row-section">
        <div class="container-fluid">
          <div class="col-md-8 col-md-offset-2">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
