<!-- footer start -->

<footer class='row footer'>
  <div class="container-fluid">
    <div class='col-md-3'>
      <h4>
        <a href='https://www.datacite.org/about-datacite'>About DataCite</a>
      </h4>
      <ul>
      {% for link in site.data.links.about_links %}
        <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class='col-md-3'>
      <h4>
        <a href='https://www.datacite.org/services'>DataCite for You</a>
      </h4>
      <ul>
      {% for link in site.data.links.foryou_links %}
        <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class='col-md-3'>
      <h4>
        <a href='https://www.datacite.org/participate'>Participate</a>
      </h4>
      <ul>
      {% for link in site.data.links.participate_links %}
        <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class='col-md-3 share'>
      <h4>Join us on</h4>
      <a href='https://twitter.com/datacite'>
        <i class='fa fa-twitter fa-2x'></i>
      </a>
      <a href='https://www.facebook.com/datacite'>
        <i class='fa fa-facebook fa-2x'></i>
      </a>
      <a href='https://www.youtube.com/user/datacite'>
        <i class='fa fa-youtube fa-2x'></i>
      </a>
      <a href='https://www.linkedin.com/company/datacite'>
        <i class='fa fa-linkedin fa-2x'></i>
      </a>
    </div>
  </div>
</div>

<!-- footer end -->
