<!-- footer start -->

<div class='row footer'>
  <div class='col-md-2 col-md-offset-2'>
    <h4>
      <a href='https://www.datacite.org/about-datacite'>About DataCite</a>
    </h4>
    <ul>
      <li>
        <a href='https://www.datacite.org/about-datacite/what-do-we-do'>What we do</a>
      </li>
      <li>
        <a href='https://www.datacite.org/about-datacite/board'>Board</a>
      </li>
      <li>
        <a href='https://www.datacite.org/about-datacite/staff'>Staff</a>
      </li>
      <li>
        <a href='https://www.datacite.org/about-datacite/members'>Members</a>
      </li>
      <li>
        <a href='https://www.datacite.org/resources'>Resources</a>
      </li>
      <li>
        <a href='https://www.datacite.org/about-datacite/working-groups'>Working groups</a>
      </li>
      <li>
        <a href='https://www.datacite.org/about-datacite/partners'>Partners</a>
      </li>
      <li>
        <a href='https://www.datacite.org/about-datacite/job-opportunities'>Job opportunities</a>
      </li>
    </ul>
  </div>
  <div class='col-md-2'>
    <h4>
      <a href='https://www.datacite.org/services'>DataCite for You</a>
    </h4>
    <ul>
      <li>
        <a href='https://www.datacite.org/services/cite-your-data.html'>Cite your data</a>
      </li>
      <li>
        <a href='https://www.datacite.org/services/format-your-citation.html'>Format your citations</a>
      </li>
      <li>
        <a href='https://www.datacite.org/services/find-repository.html'>Find a repository</a>
      </li>
      <li>
        <a href='https://www.datacite.org/services/find-dataset.html'>Find a dataset</a>
      </li>
      <li>
        <a href='https://www.datacite.org/services/get-your-doi-statistics.html'>Get your DOI statistics</a>
      </li>
      <li>
        <a href='https://www.datacite.org/services/content-negotiation.html'>Content negotiation</a>
      </li>
      <li>
        <a href='https://www.datacite.org/services/oai-provider.html'>OAI provider</a>
      </li>
      <li>
        <a href='https://www.datacite.org/services/metadata-store.html'>Metadata store</a>
      </li>
      <li>
        <a href='https://www.datacite.org/services/test-environment.html'>Test environment</a>
      </li>
    </ul>
  </div>
  <div class='col-md-2'>
    <h4>
      <a href='https://www.datacite.org/participate'>Participate</a>
    </h4>
    <ul>
      <li>
        <a href='https://www.datacite.org/participate/researchers'>Researchers</a>
      </li>
      <li>
        <a href='https://www.datacite.org/participate/research-organisations'>Research organizations</a>
      </li>
      <li>
        <a href='https://www.datacite.org/participate/libraries'>Libraries</a>
      </li>
      <li>
        <a href='https://www.datacite.org/participate/journal-editors'>Journal editors</a>
      </li>
      <li>
        <a href='https://www.datacite.org/participate/data-centres'>Data centres</a>
      </li>
    </ul>
  </div>
  <div class='col-md-3 share-footer'>
    <h4>Join us on</h4>
    <a href='https://twitter.com/datacite'>
      <i class='fa fa-twitter'></i>
    </a>
    <a href='https://www.facebook.com/datacite'>
      <i class='fa fa-facebook'></i>
    </a>
    <a href='https://www.youtube.com/user/datacite'>
      <i class='fa fa-youtube'></i>
    </a>
    <a href='https://www.linkedin.com/company/datacite'>
      <i class='fa fa-linkedin'></i>
    </a>
  </div>
</div>
<!-- footer end -->
