<!-- header start -->

<div class="header">
  <div class='profile pull-right'>
    <div class='btn-toolbar profile'>
      <div class='btn-group' role='group'>
        <button aria-expanded='false' aria-haspopup='true' class='btn btn-default dropdown-toggle' data-toggle='dropdown' role='button'>
          <i class='fa fa-navicon'></i>
        </button>
        <ul class='dropdown-menu dropdown-menu-right' role='menu'>
          <li class='dropdown-header'>DataCite Labs</li>
          <li>
            <a href='http://blog.labs.datacite.org'>
              <i class='fa fa-rss fa-fw'></i>
              Blog
            </a>
          </li>
          <li>
            <a href='http://schema.labs.datacite.org'>
              <i class='fa fa-file-code-o fa-fw'></i>
              Schema
            </a>
          </li>
          <li>
            <a href='http://search.labs.datacite.org'>
              <i class='fa fa-search fa-fw'></i>
              Search
            </a>
          </li>
          <li class='divider'></li>
          <li class='dropdown-header'>DataCite</li>
          <li>
            <a href='http://www.datacite.org'>
              <i class='fa fa-globe fa-fw'></i>
              Homepage
            </a>
          </li>
          <li>
            <a href='http://mds.datacite.org'>
              <i class='fa fa-database fa-fw'></i>
              MDS
            </a>
          </li>
          <li>
            <a href='http://statss.datacite.org'>
              <i class='fa fa-bar-chart fa-fw'></i>
              Stats
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='logo'>
    <a href='/'>
      <img alt='Metadata Store' class='logo-small' src='/assets/images/logo-small.png'>
    </a>
  </div>
</div>

<!-- header end -->
