<!-- header start -->

<header class="header">
  <div class="container-fluid">
    <div class='profile pull-right'>
      <div class='btn-toolbar profile'>
        <div class='btn-group' role='group'>
          <button aria-expanded='false' aria-haspopup='true' class='btn btn-default dropdown-toggle' data-toggle='dropdown' role='button'>
            <i class='fa fa-navicon'></i>
          </button>
          <ul class='dropdown-menu dropdown-menu-right' role='menu'>
            <li class='dropdown-header'>DataCite Labs</li>
            {% for link in site.data.links.labs_links %}
              <li>
                <a href='{{ link.url }}'>
                  <i class='fa fa-{{ link.icon }} fa-fw'></i>
                  {{ link.name }}
                </a>
              </li>
            {% endfor %}
            <li class='divider'></li>
            <li class='dropdown-header'>DataCite</li>
            {% for link in site.data.links.production_links %}
              <li>
                <a href='{{ link.url }}'>
                  <i class='fa fa-{{ link.icon }} fa-fw'></i>
                  {{ link.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class='logo'>
      <a href='/'>
        <img alt='{{ site.title }}' class='logo-small' src='/assets/images/logo-small.png'>
      </a>
    </div>
  </div>
</header>

<!-- header end -->
