.header {
  margin-bottom: 20px;
}
.post-content {
  width: 100%;
  font-family: $font-family-serif;

  h1 {
    font-size: 1.75em;
    margin-bottom: .25em;
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: .25em;
  }
}

span.citation {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;
}
.bottom-teaser {
  padding: 0;
  font-family: $font-family-sans-serif;
  hr {
    border: 0;
    padding: 0;
    display: block;
    width: 15%;
    margin: 16px 0 16px 100px;
    border: 0px solid #dddddd;
    border-top: 1px solid #dddddd;
  }
  .isLeft {
    .index-headline {
      margin-top: 0;
      padding-bottom: 15px;
    }
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: #333333;
        text-decoration: underline;
      }
    }
    .author-image {
      display: block;
      width: 80px;
      height: 80px;
      float: left;
      background-size: cover;
      border-radius: 100%;
      text-indent: -9999px;
    }
    h4 {
      font-size: 1.25em;
      line-height: 1.1;
      font-weight: 600;
      padding: 0;
      margin: 0;
      margin-bottom: .25em;
    }
    p {
      font-size: 1em;
      line-height: 1.2;
      font-weight: 400;
      padding: 0;
      margin: 0;
      &.published {
        color: #999999;
        margin-bottom: 8px;
      }
    }
  }
}
.author {
  margin-bottom: 8px;
}
.bio {
  color: #999999;
}
