## Provide input on suggestions
You can provide input on suggested changes in community discussions. Schema change ideas are tracked on the DataCite Metadata Schema Trello board. Follow the instructions on the card to participate.


<div class="text-center">
<a href="https://trello.com/b/mDWDeh20/datacite-metadata-schema" class="btn">Visit the schema Trello board</a>
</div>
