## Suggest new changes
If you have an idea for a change to the DataCite Metadata Schema, let us know through this form:

<div class="text-center">
<a href="https://forms.gle/jeLP7AnzW5RGvuz58" class="btn">Submit idea</a>
</div>

We recommend first reviewing the ideas on the [DataCite Metadata Schema Trello board](https://trello.com/b/mDWDeh20/datacite-metadata-schema) to see if a similar idea has already been proposed. If it has, you can contribute to the discussion by following the instructions on the card.
