## Discuss Suggestions

[DataCite Suggestions](https://github.com/datacite/datacite-suggestions) is a hub for suggestions from the DataCite community about new features and enhancements to DataCite services and the DataCite Metadata Schema. 

The [DataCite Suggestions GitHub Discussions board](https://github.com/datacite/datacite-suggestions/discussions) has a category for [Metadata Schema Suggestions](https://github.com/datacite/datacite-suggestions/discussions/categories/metadata-schema-suggestions), where DataCite community members can share and discuss ideas for the Metadata Schema in an open and public forum. We encourage you to review existing suggestions and share your related ideas, use cases, and feedback here.

<hr>

## Suggest Changes

We are interested in your suggestions to improve the DataCite Metadata Schema, including changes or additions to metadata properties and controlled vocabularies. 

If you have an idea for a change to the DataCite Metadata Schema, start a new GitHub discussion here:  

<div class="text-center">
<a href="https://github.com/datacite/datacite-suggestions/discussions/new?category=metadata-schema-suggestions" class="btn">Share suggestion</a>
</div>

If you would prefer not to use GitHub to share your suggestion, feel free to email us at [support@datacite.org](mailto:support@datacite.org).

<hr>

## Schema Change Process

### Community Discussion
Ideas for DataCite Metadata Schema updates are discussed in an open and public forum: [DataCite Suggestions](https://github.com/datacite/datacite-suggestions). This allows us to gather feedback and understand the use cases motivating the proposed change.

### Proposal Formation
All suggestions are reviewed by the DataCite team. When a suggestion is advanced to the proposal stage, the [DataCite Metadata Working Group](https://datacite.org/metadata-working-group/) and DataCite staff collaborate to create a change proposal.

### Request for Comments
The DataCite Metadata Working Group invites feedback from the DataCite community on proposed changes.

### Proposal Revision 
Based on the feedback, the DataCite Metadata Working Group revises the proposed Metadata Schema change.

### Schema Release
One or more changes are compiled into a new version of the DataCite Metadata Schema.

