## Metadata Working Group

The key to making data citable, searchable and accessible is equipping datasets with metadata – descriptions of and facts and figures about the data – that meets basic standards and adheres to uniform, consistent schema. The Metadata Working Group determines and maintains DataCite's metadata standard, in consultation with DataCite members and under the guidance of the DataCite Board. The working group actively seeks the broader community’s input and coordinates with community standards, such as [ORCID](http://www.orcid.org/), [Open Funder Registry](http://www.crossref.org/fundref/), [IDF](http://www.doi.org/) and [DCMI](http://dublincore.org/groups/sam/index.shtml).

The current members of the Working Group are listed on the [Metadata Working Group](https://datacite.org/metadata-working-group) page.

#### Feedback

We are interested in your suggestions to improve the DataCite Metadata Schema, including changes or additions to metadata properties and controlled vocabularies. Learn more about [how to contribute](contribute.html).

<a href="/contribute.html" class="btn">More info</a>

For questions, please contact [support@datacite.org](mailto:support@datacite.org).
