## Metadata Schema 4.5

Released <%= Date.parse("2024-01-22").strftime("%-d %b %Y") %>. Changes in this version include:

* Addition of new values to the resourceTypeGeneral property: Instrument and StudyRegistration
* Addition of new relationType pair: IsCollectedBy and Collects
* Addition of new sub-properties in the Publisher property

<a href="/meta/kernel-4.5/" class="btn">More info</a>
