## Metadata Schema 4.6

Released <%= Date.parse("2024-12-05").strftime("%-d %b %Y") %>. Changes in this version include:

* New resourceTypeGeneral values: Award and Project
* New relatedIdentifierType values: CSTR and RRID
* New relationType pair: IsTranslationOf and HasTranslation
* New contributorType: Translator
* New dateType: Coverage

<a href="/meta/kernel-4.6/" class="btn">More info</a>
