## Metadata Schema 4.3

Released <%= Date.parse("2019-08-16").strftime("%-d %b %Y") %>. Changes in this version include:

* Addition of optional "affiliationIdentifier", "affiliationIdentifierScheme", and "schemeURI" for affiliation
* Addition of optional "schemeURI" for funderIdentifier
* Addition of "ROR" to allowed values for funderIdentifierType

<a href="/meta/kernel-4.3/" class="btn btn-neutral">More info</a>
