## Metadata Schema 4.2

Draft from <%= Date.parse("2019-02-14").strftime("%-d %b %Y") %>. Changes in this version include:

*	Addition of new dateType “Withdrawn”
*	Addition of new relationType pair: IsObsoletedBy and Obsoletes
*	Addition of new relatedIdentifierType “w3id”
*	Addition of new subproperties for Rights:
  *	rightsIdentifier
  *	rightsIdentifierScheme
  *	schemeURI
*	Addition of the XML language attribute to the properties Creator, Contributor and Publisher for organizational names.

<a href="/meta/kernel-4.2/" class="btn btn-neutral">More info</a>
