## Metadata Schema 4.4

Released <%= Date.parse("2021-03-30").strftime("%-d %b %Y") %>. Changes in this version include:

* Addition of the new subproperty “classificationCode” in the Subject property.
* Addition of new values to the resourceTypeGeneral property
* Addition of a new relatedItem property, with subproperties to contain specific details for containing publication information

<a href="/meta/kernel-4.4/" class="btn">More info</a>
