## Metadata Schema 4.7

Released <%= Date.parse("2026-03-31").strftime("%-d %b %Y") %>. Changes in this version include:

* New resourceTypeGeneral values: Poster and Presentation
* New relatedIdentifierType values: RAiD and SWHID
* New relationType value: Other
* New relationTypeInformation sub-property of RelatedIdentifier and RelatedItem 

<a href="/meta/kernel-4.7/" class="btn">More info</a>
