## Metadata Schema 4.1

Released <%= Date.parse("2017-10-23").strftime("%-d %b %Y") %>. Changes in this version include:

* Allowing multiple polygons per GeoLocation
* Addition of new optional "inPolygonPoint" subproperties for polygon
* Addition of new dateType “Other”
*	Addition of new "dateInformation" subproperty for dateType
*	Addition of a new resourceType "DataPaper"
*	Addition of three new relationType pairs: IsDescribedBy and Describes, HasVersion and IsVersionOf, IsRequiredBy and Requires
* Addition of a new optional "nameType" attribute for Creator and Contributor. Controlled list: personal, organizational
* Addition of a new optional "resourceTypeGeneral" attribute for relatedIdentifier. Controlled list is identical to existing resourceTypeGeneral attribute
* Addition of optional lang attribute to Rights property

<a href="/meta/kernel-4.1/" class="btn btn-neutral">More info</a>
