---
title: DataCite Metadata Schema
description: The DataCite Metadata Schema is a list of core metadata properties chosen for an accurate and consistent identification of a resource for citation and retrieval purposes, along with recommended use instructions.
---

<div class="wrapper">
  <!-- https://www.pexels.com/photo/camera-old-vintage-photos-35107/ -->
  <div class="landing-header start" id="tsparticles" style="margin-top: 0px;">
    <div class="container-fluid">
      <div class="col-md-5">
        <h1><%= current_page.data.title %></h1>
        <p><%= current_page.data.description %></p>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div class="pill">latest</div>
        <%= partial "four.html.md" %>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "feedback.html.md" %>
        </div>
      </div>
    </div>
  </div>
</div>
