---
title: Older Versions
description: Older versions of the DataCite Metadata Schema
---

<div class="wrapper">
  <!-- https://www.pexels.com/photo/camera-old-vintage-photos-35107/ -->
  <div class="landing-header" style="margin-top: 0px; background-image: url('<%= ENV['CDN_URL'] %>/images/header2.jpg');">
    <div class="container">
      <div class="motto">
        <h1><%= current_page.data.title %></h1>
        <p><%= current_page.data.description %></p>
      </div>
    </div>
  </div>


  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "versions.html.md" %>
        </div>
      </div>
    </div>
  </div>
